.tab-menu{
    display: flex;
    flex-flow: row wrap;
    cursor: pointer;
}
.tab-menu> .tab-item{
    list-style: none;
    padding: .5em 1em;
    margin: 0 1em;
}

.tab-menu > .active{
    background-color: blueviolet;
    list-style: none;
    padding: .5em 1em;
    margin: 0 1em;
}

.menu {
    margin: 0 auto;
    width: 400px;
    height: 350px;
}

.tab-content > .tab-pane{
    display: none;
}

.tab-content > .active {
    display: block;
}

.tab-content > .tab-pane {
    margin: 0 auto;
    width: 350px;
    height: auto;
}
